.form-add{
  max-width: 400px;
    margin: auto;
  
}
.form-control{
  font-size: 18px;
  padding:20px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  height: 30px;
  width: 250px;
}

.submit-form {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
 

  }

  input{
    height: 30px;
    width: 250px;
    font-size: 3.5em;

  }

  .input-group-btn {
    height: 30px;
    width: 250px;
    font-size: 3.5em;
}
.badge-success {
  background-color: rgb(233, 104, 29);
}

.table-add{
  margin-left: auto;
  margin-right: 30px;

}
