<!DOCTYPE html>
<html lang="en">
<head>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body>
   <div class="card card-4">

    <div class="spinner-div1" *ngIf="isLoading">
    </div>
    <div class="spinner-div" *ngIf="isLoading">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>


    <div class="card-body">
    <h2 class="title" style="text-align: center;">Add new Gr@fic</h2>
     <hr>
     <br>
        <form>
         <table style="width: 100%;">
            <tr>
              <td>
                   <div class="input-group">
                     <label class="label">Id Grafic</label>
                     <input class="input--style-4" 
                            type="number" 
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                            name="idGrafic" 
                            required 
                            maxlength="8" 
                            [(ngModel)]="currentGraphic.idGrafic">
                     <div class="alert alert-danger" role="alert" *ngIf="idgrafic_err">
                      Id Grafic should be 8 characters long
                     </div>
                   </div>
              </td>

              <td>
                  <div class="input-group" >
                    <label class="label">Code IMB</label>
                    <input class="input--style-4" 
                           type="text" 
                           name="code_imb" 
                           required  
                           maxlength="16"   
                           [(ngModel)]="currentGraphic.code_imb">
                    <div class="alert-danger" *ngIf="codeIMB_err == 1">
                      <div>Code IMB should be at least 5 characters long</div>
                    </div>
                    <div class="alert-danger" *ngIf="codeIMB_err == 2">
                      <div>Code IMB should start with ' IMB/ ' </div>
                    </div>
                  </div>
                  
                  
              </td>

              <td>
                  <div class="input-group" >
                    <label class="label">IAR</label>
                    <input class="input--style-4" 
                           type="number" 
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                           name="iar" 
                           required 
                           maxlength="10"
                           [(ngModel)]="currentGraphic.iar">
                    <div class="alert alert-danger" role="alert" *ngIf="iar_err == 1">
                       IAR should be 10 characters long
                     </div>
                  </div>
              </td>
            </tr>
            <tr>
                <td>
                     <div class="input-group">
                       <label class="label">Groupe d'opérateur (OI)</label>
                       <input class="input--style-4" type="text" name="groupe_operation" [(ngModel)]="currentGraphic.groupe_operation">
                       <div class="alert alert-danger" role="alert" *ngIf="groupeOperateur_err == 1">
                        Please Insert Groupe d'perateur
                       </div>
                      </div>
                </td>
                
                <td *ngIf="isPilote">
                    <div class="input-group">
                     <label class="label" style="padding-right: 100px;">Affectation</label>
                     <div class="input--style-4">
                         <select name="subject" class="input--style-4" style="border: 0;" [(ngModel)]="currentGraphic.affectation">
                            <option value={{colab.cuid}} *ngFor="let colab of colabsteam; let i = index" >{{colab.cuid}} {{colab.nom}} {{colab.prenom}}</option>    
                         </select>
                     </div>
                 </div> 

                <td *ngIf="!isPilote">
                    <div class="input-group" >
                      <label class="label">Affectation</label>
                      <input class="input--style-4" type="text" name="affectation" value="{{collab.nom}} {{collab.prenom}}" disabled>
                    </div>
                </td>
  
                <td *ngIf="isPilote">
                    <div class="input-group" >
                      <label class="label">Date de traitement</label>
                      <input class="input--style-4" type="date" 
                      name="dateTraitement"
                       [(ngModel)]="currentGraphic.dateTraitement">
                      <div class="alert alert-danger" role="alert" *ngIf="dateTraitement_err == 1">
                        Please select a valid date
                       </div>
                    </div>
                </td>
                <td *ngIf="!isPilote">
                    <div class="input-group" >
                      <label class="label">Date de traitement</label>
                      <input class="input--style-4"
                       type="date" name="dateTraitement"
                        [(ngModel)]="currentGraphic.dateTraitement" disabled="">
                      <div class="alert alert-danger" role="alert" *ngIf="dateTraitement_err == 1">
                        Please select a valid date
                       </div>
                    </div>
                </td>
              </tr>
              <tr>
                <td>
                     <div class="input-group">
                       <label class="label">Duree</label>
                       <input class="input--style-4" type="number" name="duree" [(ngModel)]="currentGraphic.duree">
                       <div class="alert alert-danger" role="alert" *ngIf="duree_err == 1">
                        Duree should be between 1 and 60
                       </div>
                      </div>
                </td>
  
                <td>
                    <div class="input-group" >
                      <label class="label">Commentaire</label>
                      <input class="input--style-4" type="text"
                       name="commentaire" [(ngModel)]="currentGraphic.commentaire">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                     <label class="label">Type de Traitement</label>
                     <div class="input--style-4">
                         <select name="subject" class="input--style-4" style="border: 0;" [(ngModel)]="currentGraphic.type_traitement">    
                        <option value="ag">Appel sortant</option>
                        <option value="cg">Classique Grafic</option>
                      </select>
                     </div>
                     <div class="alert alert-danger" role="alert" *ngIf="type_traitement_err == 1">
                      Please Select an option
                     </div>
                 </div> 
                 </td>
              </tr>
              <tr>         
                <td>
                    <div class="input-group">
                     <label class="label" style="padding-right: 100px;">Statut Grafic</label>
                     <div class="input--style-4">
                         <select name="subject" class="input--style-4" style="border: 0;" [(ngModel)]="currentGraphic.statut_graphic">
                             <option value="po">Préparation de l'envoi</option>
                            <option value="arc">Attente retour client</option>
                            <option value="l">Libéré</option>
                         </select>
                     </div>
                     <div class="alert alert-danger" role="alert" *ngIf="statut_graphic_err == 1">
                      Please Select an option
                     </div>
                 </div> 
                 </td>
                 <td>
                    <div class="input-group">
                     <label class="label">Traitement effectué</label>
                     <div class="input--style-4">
                         <select name="subject" class="input--style-4" style="border: 0;" [(ngModel)]="currentGraphic.traitement_effectue">
                             <option value="IAPTO" *ngIf="currentGraphic.statut_graphic === 'po'">Injection avec PTO</option>
                            <option value="ISPTO" *ngIf="currentGraphic.statut_graphic === 'po'">Injection sans PTO</option>
                            <option value="1REPRDV" *ngIf="currentGraphic.statut_graphic === 'arc'">1er report RDV</option>
                            <option value="2REPRDV" *ngIf="currentGraphic.statut_graphic === 'arc'">2eme report RDV</option>
                            <option value="RELANCESMS" *ngIf="currentGraphic.statut_graphic === 'arc'">Relance SMS + Mise en attente</option>
                            <option value="RELANCERAI" *ngIf="currentGraphic.statut_graphic === 'arc'">Relance RAI</option>
                            <option value="ABAND" *ngIf="currentGraphic.statut_graphic === 'l'">Abandon de la commande</option>
                         </select>
                     </div>
                     <div class="alert alert-danger" role="alert" *ngIf="traitement_effectue_err == 1">
                      Please Select an option
                     </div>
                 </div> 
                 </td>
                
              </tr>
         </table>
          <hr>              
          <br> 
          <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="submitted">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              The acte was submited successfully
            </div>
          </div> 
          <br> 
          <div class="input-group" style="text-align: center;" *ngIf="!submitted">
            <button class="btn btn--radius-2 btn--blue" style="background-color: rgb(36, 36, 36);" type="submit" (click)="savegraphic()">Submit</button>
          </div>

          <div class="input-group" style="text-align: center;" *ngIf="submitted">
            <button class="btn btn--radius-2 btn--blue" style="background-color: rgb(36, 36, 36);" type="submit" (click)="newInsertGrafic()">New</button>
          </div>
          
          
          </form>

        
       </div>
  </div>

  

</body>

</html>
<!-- end document-->