
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />>
    <!--Get your code at fontawesome.com-->
    </head>
  <body>
  <br>        
  <table class="table1" >
    <tr>
        <td>
          <table>
            <tr>
              <td><label>
                <input type="radio" name="searchbycodeBanbou" value="codeBanbou" checked [(ngModel)]="searchby">
                <span class="value" style="font-size: 16px;">Code Banbou</span>
              </label></td>
              <td><label>
                  <input type="radio" name="searchbycodeIMB" value="codeIMB" [(ngModel)]="searchby">
                  <span class="value" style="font-size: 16px;">CodeIMB</span>
                </label></td>
                <td *ngIf="isPilote"><label>
                    <input type="radio" name="searchbyAffectation" value="Affectation" [(ngModel)]="searchby" >
                    <span class="value" style="font-size: 16px;">Affectation</span>
                  </label></td>
            </tr>
          </table>
        </td>
        <td style="padding-right: 10px;" >
            <input type="text" class="input--style-4" placeholder="Search by codeBanbou" *ngIf="searchby === 'codeBanbou'" [(ngModel)]="searchValue">
            <input type="text" class="input--style-4" placeholder="Search by codeIMB" *ngIf="searchby === 'codeIMB'" [(ngModel)]="searchValue">
            <div class="input--style-4">
                <select name="Affectation" class="input--style-4" style="border: 0;" *ngIf="searchby === 'Affectation'" [(ngModel)]="searchValue">
                    <option value={{colab.cuid}} *ngFor="let colab of colabsteam; let i = index" > {{colab.cuid}} {{colab.nom}} {{colab.prenom}}</option>    
                 </select>
              </div>



        </td>
       
        <td>
            <button *ngIf="!(searchby === 'affectation') && !isPilote" class="btn btn-secondary btn-block" (click)="search()">Search </button>
            <button *ngIf="isPilote" class="btn btn-secondary btn-block" (click)="search()">Search </button>

        </td>
    </tr>
   </table>
   
  <hr>
  
  <div id="div1" >
    <table id="users">
      <thead>
        <tr>
          <th>Code Banbou</th>
          <th>CodeIMB</th>
          <th>DMT</th>
          <th>Qtu</th>
          <th>Affectation</th>
          <th>Date de vérification</th>
          <th>Date de livraison</th>
          <th>Motif</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let esimb of esimbs; let i = index" [class.active]="i == currentIndex" (click)="setActiveEsimb(esimb,i)">
          <td> {{esimb.codeBanbou}} </td>
          <td> {{ esimb.codeIMB }} </td>
          <td> {{ esimb.duree }} </td>
          <td> {{ esimb.quantite }} </td>
          <td> {{ esimb.affectation }} </td>
          <td> {{ esimb.dateVerification }} </td>
          <td> {{ esimb.dateLivraison }} </td>
          <td> {{ esimb.motif }} </td>

          
          <td> <button *ngIf="(esimb.motif==='En attente') && !isPilote" class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#staticBackdrop">edit_note</button>
            <button *ngIf="isPilote" class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  (click)="getteammembersbycuid()" >edit_note</button>
           </td>


        </tr>
      </tbody>
    </table>
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          
          <fieldset class="border p-2">
            <legend class="w-auto">
            </legend>
            <table class="table-add">
                <tr class="tr1">
                  <td>Code Banbou</td>
                  <td><div class="col-sm-10">
                    <input type="text"
                    class="form-control"
                    id="codeBanbou"
                    required
                    [(ngModel)]="currentEsimb.codeBanbou"
                    name="codeBanbou">
                  </div></td>
              
                  <div class="td2"> 
                  <td>Code IMB</td>
                </div>   
                      <td><div class="col-sm-10">
                          <input type="text"
                          class="form-control"
                          id="codeIMB"
                          required
                          [(ngModel)]="currentEsimb.codeIMB"
                          name="codeIMB">
                        </div>
                      </td>
                 </tr>
              <br>
              
              <tr class="tr1">
                  <td>Date verification</td>
                  <td><div class="col-sm-10">
                    <input type="date"
                    class="form-control"
                    id="date_verification"
                    required
                    [(ngModel)]="currentEsimb.dateVerification"
                    name="date_verification">
                  </div></td>
              
                  <div class="td2"> 
                  <td>Duree</td>
                </div>   
                      <td><div class="col-sm-10">
                          <input type="text"
                          class="form-control"
                          id="duree"
                          required
                          [(ngModel)]="currentEsimb.duree"
                          name="duree">
                        </div>
                      </td>
                 </tr>
              <br>
              
              
              <tr class="tr1">
                  <td>Date livraison</td>
                  <td><div class="col-sm-10">
                    <input type="date"
                    class="form-control"
                    id="date_livraison"
                    required
                    [(ngModel)]="currentEsimb.dateLivraison"
                    name="date_livraison">
                  </div></td>
              
                  <div class="td2">
                      <td>Quantite</td>
                    </div>
                      <td><div class="col-sm-10">
                        <input type="text" 
                        class="form-control"
                        id="quantite"
                        required
                        [(ngModel)]="currentEsimb.quantite"
                        name="quantite" disabled/>
                      </div></td>
                 </tr>
              <br>
              
      
              
              <tr class="tr1">
                  <td>Motif</td>
                  <td>
                      <div class="col-sm-10">
                          <select name="pets" id="pet-select" [(ngModel)]="currentEsimb.motif"><option value="">
                              --Please choose an option--  </option>
                          <option value="ORT" >ORT</option>
                          <option value="Hist">Historique</option>
                          <option value="Immeuble">Immeuble</option>
                          <option value="Inexistence IMB Optimum">Inexistence IMB optimum</option>
                          <option value="Inexistence IMB Banbou">Inexistence IMB Banbou</option>
                          <option value="incohérence">Incohérence</option>
                          <option value="rami">Rami</option>
                          <option value="PB inexistant GFI">Pb inexistant GFI</option>
                          <option value="Blocage Optimum">Blocage Optimum</option>
                          <option value="IMB Raccordable Optimum">IMB Raccordable  Optimum</option>
                          <option value="Clé en main Client">Clé en main Client</option>
                          <option value="PB Saturé">PB saturé</option>
                          <option value="Inexistence IMB Ipon">Inexistence IMB Ipon</option>
                          <option value="Position IMB introuvable">Position IMB introuvable</option>
                          <option value="PB inexistant Ipon">PB inexistant Ipon</option>
                          <option value="Non evolution statut IMB">Non evolution statut IMB</option>
                          <option value="En attente">En attente</option>
                          <option value="traitée"></option>
                        </select>
                      </div>
                  </td>
                  <div class="td2">
                      <td>Commentaire</td>
                      </div>
                      <td><div class="col-sm-10">
                          <input type="text" 
                          class="form-control"
                          id="commentaire"
                          required
                          [(ngModel)]="currentEsimb.commentaire"
                          name="commentaire">
                        </div></td>
                          
              </tr>
              <br>
              </table>
          </fieldset>
       
  
  
  
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="updateEsimb()">Update</button>
          <p>{{ message }}</p>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>