img {
    vertical-align: middle;
}
img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    width : 3vw;
height : 5vh;
max-width : 100px;
max-height : 100px;
}
* {
    box-sizing: border-box;
}

.rr {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Fira Sans";
color: rgb(255, 255, 255);}
    .r {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 1.5em;
        font-family: "Fira Sans";
        color: rgb(255, 255, 255);}
        .rrr {
            display: block;
            padding: 8px 16px;
            text-decoration: none;
            font-size: 1.5em;
            font-family: "Fira Sans";
            color: rgb(255, 255, 255);}

        .tt {
            display: block;
            padding: 8px 16px;
            text-decoration: none;
            font-size: 1.5em;
            font-family: "Fira Sans";}

            .t {
                display: block;
                padding: 8px 16px;
                text-decoration: none;
                font-size: 1.5em;
                font-family: "Fira Sans";
            }


.navv {
 position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #353434;
    color : rgb(214, 212, 213);
    height: 100%;
  }



  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: rgb(255, 255, 255);
  }

ul{
    list-style-type: none;
    margin: 0;
}
