h1
{
    text-align: center;
    color: rgb(37, 37, 37);
}


#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 260px;
    width: max-content;
    height: max-content;
    
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(65, 65, 65);
    color: white;
  }

  

  .table1{
    border-style: none; 
    border-radius: 100px;
    margin-left: 600px;
  }
  .table2 tr td .table1 td{
    
      padding: 10px;  
  }

  #div1{
    padding-left: 100px;
    text-align: center;
    overflow-x:auto;
    overflow-y: auto;
    
  }

  label {
    display: flex;
    padding: 5px 0;
    font-size: 20px;
    cursor: pointer;
  }

  input[type="radio"] {
    opacity: 0;
  }

  .value {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 40px;
    border-radius: 20px;
  }

  .value:hover {
    background: rgba(31, 31, 31, 0.1);
  }

  .value::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dadada;
    outline: 0px solid #2c2c2c;
    transition: 0.4s;
  }

  input[type="radio"]:checked~.value {
    color: #707070;
    border-width: 5px;
    background: rgba(47, 47, 47, 0.2);
    transition: 0.4s;
  }

  input[type="radio"]:checked~.value::before {
    outline-width: 5px;
    background: #fff;
  }